#license {
  .license-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;
    color: $white-text-color;

    .license-heading {
      font-size: 2em;
      font-weight: 700;
      margin: 2em 0 1em;
    }

    .license-content {
      width: 100%;
      max-width: 700px;
    }
  }

  @media (min-width: $md) {
    .license-container {
      padding: 8em 6em;
    }
  }

  @media (min-width: $lg) {
    .license-container {
      padding: 8em 10em;
    }
  }

  @media (min-width: $xl) {
    .license-container {
      padding: 8em 16em;
    }
  }
}
