#charts {
  .feature-card {
    display: flex;
    justify-content: center;
    height: 400px;
    max-width: 600px;

    .p-card-body {
      height: 100%;
    }

    @media (min-width: $lg) {
      .p-card-caption {
        display: block;
      }
    }
  }

  .home-pie-chart {
    background: #090909;
    position: absolute;
    bottom: 110px;
    right: 5px;
    z-index: 100;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  .home-vertical-chart > canvas {
    height: 350px !important;
    width: 100% !important;
  }

  .hexagon-row-container {
    margin-top: 1rem;
  }

  @media (min-width: $lg) {
    .feature-card {
      height: 360px;

      .home-vertical-chart > canvas {
        height: 300px !important;
      }
    }
  }
}
