@import 'keyframes';

#error-404 > .error-404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px 0 140px;

  svg {
    width: 100%;
    max-width: 300px;
    animation: fade-in 0.3s ease-out forwards;
  }

  label {
    position: relative;
    opacity: 0;
    font-size: 2em;
    font-weight: 700;
    color: white;
    transition: color 300ms;
    animation:
      fade-in 0.7s 0.3s ease-out forwards,
      bounce-right 0.3s 0.3s ease-out forwards;

    &:hover {
      color: $primary-color;
    }
  }

  @media (min-width: $sm) {
    svg {
      max-width: 500px;
    }
  }
}
