@import 'sections';

#dev {
  .dev-container {
    overflow: hidden;
    padding: 5rem 1rem;

    @media (min-width: $lg) {
      padding: 3.5rem 0 0;
    }
  }

  .dev-section-heading {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;

    .highlight {
      color: $primary-color;
    }

    @media (min-width: $md) {
      font-size: 2.25rem;
    }
  }

  .dev-section-desc {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 3rem;
    color: $white-text-color;
    line-height: 1.7;
  }
}
