#access {
  height: auto;
  width: 100%;
  background: $bg-green-color-05;

  .access-container {
    display: flex;
    flex-direction: column;
    padding: 60px 1em 0;
    overflow-x: hidden;

    .flip-card-front {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .flip-card-front,
    .flip-card-back {
      background: $content-background;
      border: 1px solid $p-card-border;
    }

    .flip-card-container {
      margin: 50px 0 70px;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      gap: 0.5em;

      .flip-card {
        width: 370px;
        min-height: 210px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 0;

        @media (max-width: 400px) {
          width: 100%;
        }
      }

      .flip-card-image {
        margin: 15px 0 0;
        max-height: 100px;
      }

      .flip-card-header {
        font-family: $font-inter-sans-serif;
      }
    }
  }

  .access-header {
    font-family: $font-inter-sans-serif;
    font-weight: bold;
    color: $primary-white-green-text-color;
    font-size: 35px;
    max-width: 320px;
    margin: 0 auto 15px;
    text-align: center;
    opacity: 0;
  }

  .access-description {
    margin: 15px auto 0;
    max-width: 900px;
    color: $primary-white-green-text-color;
    text-align: center;
    padding: 0 40px;
    font-size: 16px;
  }

  @media (min-width: $sm) {
    .access-header {
      max-width: 100%;
    }

    .access-description {
      font-size: 20px;
    }
  }

  @media (min-width: $md) {
    .access-header {
      font-size: 45px;
    }
  }

  @media (min-width: $xl) {
    .access-header {
      font-size: $font-size-xl;
    }
  }
}
