@import 'sections';

.home-container {
  padding-top: 140px;

  @media (min-width: $sm) {
    padding-top: 180px;
  }
}

div[data-pc-name='deferredcontent'] {
  z-index: -1;
  margin-top: -150px;
  padding-top: 150px;
}

#footer {
  div[data-pc-name='deferredcontent'] {
    margin-top: -400px;
    padding-top: 400px;
  }
}

#start {
  scroll-margin-top: 350px;
  padding-bottom: 100px;

  @media (min-width: $md) {
    padding-bottom: 150px;
  }

  @media (min-width: $lg) {
    padding-bottom: 230px;
  }
}

#features {
  overflow-x: hidden;
  scroll-margin-top: 50px;

  @media (min-width: $md) {
    top: 160px;
  }
}

#why-us {
  scroll-margin-top: 150px;
}
