@import 'sections';

.home-container {
  padding: 5rem 1rem;

  @media (min-width: $lg) {
    padding: 3.5rem 0;
  }

  .p-card {
    background: rgb(16 185 129 / 3%);
    border: 1px solid rgba($primary-color, 0.25) !important;
    transition: all 0.3s ease;
  
    &:hover {
      border-color: rgba($primary-color, 0.35) !important;
    }
  }
}

div[data-pc-name='deferredcontent'] {
  z-index: -1;
  margin-top: -150px;
  padding-top: 150px;
}


body:has(#home) {
  .p-toast-message {
    top: 6rem !important;
  }

  .p-dialog-mask {
    backdrop-filter: blur(0.5em);
    z-index: 9999 !important;
    
    .p-dialog {
      width: 95vw !important;
      max-width: 500px !important;
      background: rgb(0 0 0 / 50%) !important;
      border: none !important;
      padding: 0 !important;

      .p-dialog-content {
        padding: 0 !important;

        .p-card {
          border: 1px solid rgba($primary-color, 0.25) !important;
        }
      }
    }
  }
}